#heading{
    background-color: red;
    width: 100%;
    height: 100px;
}

#workspace{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

#enemies{
    background-color: coral;
    width: 50%;
    height: 500px;
    float: left;
}

#enemy-stats, #player-stats{
    border: 5px solid black;
}

#xp-remaining{
    float: right;
}

#allies{
    background-color: cyan;
    width: 50%;
    height: 500px;
    float: left;
}

#npc-template, #player-template{
    visibility: hidden;
    height:0px;
}



.info{
    color: black
}

.warning{
    color: red
}

.not-selected{
    background-color: blue;
}

.selected{
    background-color: blueviolet;
}



.enemy, .ally, .player{
    padding: 10px;
    margin: 10px;
}

.enemy{ 
    background-color: red;
}

.ally{
    background-color: blue;
}

.player{
    background-color: green;
}