body{
    padding: 0px;
    background-color: linear-gradient(95, red, aqua);
}

#heading{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

#workspace{
    background-color: lightblue;
    width: 100%;
    height: 150px;
}

#stats{
    background-color: coral;
    float: top;
    height: 100%;
    border: 5px solid black;
    box-sizing: border-box;
}

#enemy-stats{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#player-stats{
    box-sizing: border-box;
    width: 50%;
    float: right;
}

#xp-remaining{
    float: right;
}

#blocks{
    background-color: cyan;
    width: 100%;
    float: left;
}

#enemy-space{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#player-space{
    box-sizing: border-box;
    width: 50%;
    float: right;
}

#npc-template, #player-template{
    visibility: hidden;
    height:0px;
}



.info{
    color: black
}

.warning{
    color: red
}

.not-selected{
    background-color: blue;
}

.selected{
    background-color: blueviolet;
}



.enemy, .ally, .player{
    padding: 10px;
    margin: 10px;
}

.enemy{ 
    background-color: red;
}

.ally{
    background-color: blue;
}

.player{
    background-color: green;
}